<!--Para que aparezca quitale el hidden del class del primer div
    Deberia aparecer este pop-up en la pestaña de un evento cuando se dé click a 'Calificar Evento'-->
    <div id="info-popup" tabindex="-1" class=" hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                    <h3 class="flex justify-center center mb-3 text-2xl font-bold text-gray-900 dark:text-white">!! Deja una puntuación !!</h3>
                    <p>
                        En una escala del 1 al 5, ¿qué tanto te gusta este evento específico?
                    </p>
                </div>
                <!--Slider de puntuación-->
                <div class="flex justify-between items-center mb-6">
                  <span class="text-gray-900 dark:text-white">1</span>
                  <input type="range" min="1" max="5" value="3" class="w-full mx-4 h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
                  <span class="text-gray-900 dark:text-white">5</span>
              </div>
                <div class="flex justify-center items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                        <button id="save-button" type="button" class="py-2 px-4 w-full text-sm font-medium text-white bg-blue-900 border-black border-2 rounded-lg sm:w-auto hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-black">Guardar</button>
                        <button id="confirm-button" type="button"  class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                                         
                    </div>
                </div>
            </div>
        </div>
      </div>
      
