<div class="font-[sans-serif] bg-white md:h-screen">
  <div class="grid md:grid-cols-2 items-center gap-8 h-full">
    <div class="max-md:order-1 p-4 bg-gray-50 h-full">
      <img src="https://readymadeui.com/signin-image.webp" class="lg:max-w-[90%] w-full h-full object-contain block mx-auto" alt="login-image" />
    </div>

    <div class="flex items-center p-6 h-full w-full">
      <form [formGroup]="registerForm" class="max-w-lg w-full mx-auto" (ngSubmit)="onSubmit()">
        <div class="mb-12">
          <h3 class="text-blue-500 md:text-3xl text-2xl font-extrabold max-md:text-center">Create an account</h3>
        </div>

        <!-- Nombre -->
        <div>
          <label class="text-gray-800 text-xs block mb-2">Full Name</label>
          <div class="relative flex items-center">
            <input formControlName="name" type="text" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none" placeholder="Enter name" />
          </div>
        </div>

        <!-- Apellido Paterno -->
        <div class="mt-6">
          <label class="text-gray-800 text-xs block mb-2">Apellido Paterno</label>
          <input formControlName="fatherSurname" type="text" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none" placeholder="Enter apellido paterno" />
        </div>

        <!-- Apellido Materno -->
        <div class="mt-6">
          <label class="text-gray-800 text-xs block mb-2">Apellido Materno</label>
          <input formControlName="matherSurname" type="text" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none" placeholder="Enter apellido materno" />
        </div>

        <!-- Edad -->
        <div class="mt-6">
          <label class="text-gray-800 text-xs block mb-2">Edad</label>
          <input formControlName="age" type="number" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none" placeholder="Enter edad" />
        </div>

        <!-- Género -->
        <div class="mt-6">
          <label class="text-gray-800 text-xs block mb-2">Género</label>
          <select formControlName="gender" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none">
            <option value="">Selecciona género</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
        </div>

        <!-- Email -->
        <div class="mt-6">
          <label class="text-gray-800 text-xs block mb-2">Email</label>
          <input formControlName="email" type="email" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none" placeholder="Enter email" />
        </div>

        <!-- Password -->
        <div class="mt-6">
          <label class="text-gray-800 text-xs block mb-2">Password</label>
          <input formControlName="password" type="password" required class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none" placeholder="Enter password" />
        </div>



        <!-- Botón Crear cuenta -->
        <div class="mt-12">
          <button type="submit" class="w-full py-3 px-6 text-sm tracking-wider font-semibold rounded-md bg-blue-600 hover:bg-blue-700 text-white focus:outline-none">
            Create an account
          </button>
          <p class="text-sm mt-6 text-gray-800">Already have an account? <a routerLink="/login" class="text-blue-500 font-semibold hover:underline ml-1">Login here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
